# Summary

# Chains

{% for item in chains -%}


{% if item.chain.type == "relaychain" %}
- [{{item.name}}](chains/{{item.name}}/{{item.name}}.md)
{% else %}
  - [{{item.name}}](chains/{{item.chain.parent}}/{{item.name}}.md)
{% endif %}
{% endfor %}
